* {
  box-sizing: border-box;
}

#root {
  flex-grow: 1;
}

$nav-height: 3.125rem;

@mixin mobile-card-size {
  width: 100%;
  padding-top: 66.66%;
}

@mixin card-size {
  width: 12rem;
  height: 8rem;
  padding-top: 0;
}

@mixin show-img-size {
  width: 18rem;
  height: 12rem;
  padding-top: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  height: $nav-height;
  padding: 0 1.5rem 0 1.5rem;

  a {
    font-size: 1rem;
    text-decoration: none;
  }

  img {
    border-radius: 50%;
    height: $nav-height;
    width: $nav-height;
  }

  button {
    font-size: 1rem;
    border: none;
    padding: 0;
    background: none;
  }
}

#recipes-container {
  padding: 1rem;
}

.recipe {
  @include mobile-card-size;
  .recipename-div {
    background-color: #616161a8;
    color: #d8d8d8;
  }
}
.show-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.show-img {
  @include mobile-card-size;
  img {
    object-fit: cover;
  }
}

.recipe:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.signup-btn:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  font-size: 0.75rem;
  justify-content: center;
  color: rgb(94, 91, 91);
  position: sticky;
  margin-bottom: 0;
}

@media only screen and (min-width: 426px) {
  .recipe {
    @include card-size;
  }
  .show-img {
    @include show-img-size;
  }
}
