// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

* {
  box-sizing: border-box;
}

#root {
  flex-grow: 1;
}

@mixin show-img-size {
  width: 18rem;
  height: 12rem;
  padding-top: 0;
}

@mixin mobile-card-size {
  width: 100%;
  padding-top: 66.66%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://i.imgur.com/48RRo8L.jpg");
  background-size: cover;
  background-position: center;
}

.show-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.show-img {
  @include mobile-card-size;
  img {
    object-fit: cover;
  }
}

button:hover {
  cursor: pointer;
}

.signup-btn:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  font-size: 0.75rem;
  justify-content: center;
  color: rgb(155, 157, 158);
  position: sticky;
  margin-bottom: 0;
}

.recipe {
  font-size: 1.5rem;
  @include media-breakpoint-up("xs") {
    height: 20rem;
  }
  @include media-breakpoint-up("sm") {
    height: 8rem;
    font-size: 0.75rem;
  }
  @include media-breakpoint-up("md") {
    height: 8rem;
  }
  @include media-breakpoint-up("lg") {
    height: 8rem;
  }
}

.recipe-card {
  // border: 2px solid black;
  // outline: #575757c9;
  border-radius: 4px;
}

.recipe-card:hover {
  cursor: pointer;
  outline: 2px solid grey;
}

// .card-title {
//   @include media-breakpoint-down("sm") {
//     font-size: 2rem;
//   }
// }

// @media only screen and (max-width: 426px) {
//   .card-title.div {
//     font-size: 2rem;
//   }
// }

@media only screen and (min-width: 426px) {
  // .recipe {
  //   @include card-size;
  //   .recipename-div {
  //     font-size: 1rem;
  //   }
  // }
  .show-img {
    @include show-img-size;
  }
}
